<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h5>Services</h5>
                    <ul>
                        <li><a href="#">Booking Tickets</a></li>
                        <li><a href="#">Guide</a></li>
                        <li><a href="#">Rental Vehicles</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h5>About</h5>
                    <ul>
                        <li><a href="tel:+917224885368">Call Me</a></li>
                        <li><a href="mailto:travelx@gmail.com">Mail me</a></li>
                        <!-- <li><a href="#"></a></li> -->
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h5>Travel Your Happiness</h5>
                     <ul>
                        <li>Stay Safe</li>
                        <li>Stay Happy</li>
                        <li>Stay Healty</li>
                     </ul>
                </div>
                <div class="col item social"><a href="https://www.facebook.com/" target="_blank"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://www.snapchat.com/" target="_blank"><i class="icon ion-social-snapchat"></i></a><a href="https://www.instagram.com/" target="_blank"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p2 class="copyright">TravelX © 2023</p>
        </div>
    </footer>
</div>
<div id="footer"></div>