<nav class="navbar">
  <div class="container">
    <div class="logo">
      <li class="nav-item">
      <a>TravelX</a></li>
    </div>
    <ul class="nav-links">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}"><b>Home</b></a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#tranding"> <b>Destinations</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#images"><b>Packages</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer"><b>About Us</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer"><b>Contact</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signin' %}"><b>Sign In</b></a>
      </li>
    </ul>

    {% comment %} <a class="button3" href="{% url 'signin' %}">Sign In</a> {% endcomment %}
  </div>
</nav>

